<h1 id="title" class="title">Login</h1>
<p class="sub-title">Olá! Entre com seu email.</p>

<!-- 
<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>Oh snap!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
  <p class="alert-title"><b>Hooray!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>
-->

<form (ngSubmit)="login()" #form="ngForm" aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="input-email">Email:</label>
    <input nbInput
           fullWidth
           [(ngModel)]="usuario.email"
           #email="ngModel"
           name="email"
           id="input-email"
           pattern=".+@.+\..+"
           placeholder="Email"
           autofocus
           [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : ''"
           [required]="true"
           [attr.aria-invalid]="email.invalid && email.touched ? true : null"
           [disabled]="loading">
    <ng-container *ngIf="email.invalid && email.touched">
      <p class="error-message" *ngIf="email.errors?.required">
        * informe o email
      </p>
      <p class="error-message" *ngIf="email.errors?.pattern">
        * email inválido
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-password">Senha:</label>
    <input nbInput
           fullWidth
           [(ngModel)]="usuario.password"
           #password="ngModel"
           name="password"
           type="password"
           id="input-password"
           placeholder="Senha"
           [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : ''"
           [required]="true"
           [minlength]="4"
           [maxlength]="20"
           [attr.aria-invalid]="password.invalid && password.touched ? true : null"
           [disabled]="loading">
    <ng-container *ngIf="password.invalid && password.touched ">
      <p class="error-message" *ngIf="password.errors?.required">
        * informe a senha
      </p>
      <p class="error-message" *ngIf="password.errors?.minlength || password.errors?.maxlength">
        Senha incompatível 
        entre 4
        e 16
        caracteres

        <button (click)="teste('paulo ricardo')">QUALQUER</button>
      </p>
    </ng-container>
    
  </div>

  <div class="form-control-group accept-group">
    <nb-checkbox [disabled]="loading" name="rememberMe" [(ngModel)]="usuario.rememberMe">Lembrar-me</nb-checkbox>
    <a class="forgot-password" routerLink="../request-password">Esqueceu a senha?</a>
  </div>

  <button nbButton
          fullWidth
          status="success"
          [disabled]="submitted || !form.valid || loading"
          [class.btn-pulse]="submitted"
          [nbSpinner]="loading" nbSpinnerStatus="primary">
    Entrar
  </button>
</form>

<section *ngIf="socialLinks && socialLinks.length > 0" class="links" aria-label="Social sign in">
  ou acesse com:
  <div class="socials">
    <ng-container *ngFor="let socialLink of socialLinks">
      <a *ngIf="socialLink.link"
         [routerLink]="socialLink.link"
         [attr.target]="socialLink.target"
         [attr.class]="socialLink.icon"
         [class.with-icon]="socialLink.icon">{{ socialLink.title }}</a>
      <a *ngIf="socialLink.url"
         [attr.href]="socialLink.url"
         [attr.target]="socialLink.target"
         [attr.class]="socialLink.icon"
         [class.with-icon]="socialLink.icon">{{ socialLink.title }}</a>
    </ng-container>
  </div>
</section>
