<nb-layout>
    <nb-layout-header>
      <button outline nbButton [nbContextMenu]="items">
        Show Menu
      </button>
    </nb-layout-header>
    <nb-layout-column class="colored-column-basic">Hello World!</nb-layout-column>
  </nb-layout>