<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">Beat-<span>Market.com</span></a>
  </div>
  <!--
  <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select>
  
  <ngx-layout-direction-switcher class="direction-switcher"></ngx-layout-direction-switcher>
  -->
</div>

<div class="header-container">
  <nb-actions size="small">

    <nb-action class="control-item">
      <nb-search type="rotate-layout"></nb-search>
    </nb-action>
    <nb-action class="control-item" icon="email-outline"></nb-action>
    <nb-action class="control-item" icon="bell-outline"></nb-action>
    <nb-action class="user-action" *nbIsGranted="['view', 'user']" >
      <img [src]="user.foto" style="max-width: 15.33%" [alt]="user.usuario.email"/>
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="false"
               [name]="user?.usuario.email">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
